/* -------------------------------
      GLOBAL STYLES 
--------------------------------- */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
	overflow: hidden;
	overflow-y: auto;
}
a {
	color: #363636;
}
a:hover {
	color: #666666;
	text-decoration: none;
}
body {
	color: #363636;
	font-family: 'PT Sans', Arial, sans-serif !important;
	font-size: 1.4rem;
	line-height: 1.4;
	margin-top: 90px;
}
footer {
	background-color: #ececec;
	height: 130px;
}
footer li {
	display: inline-block;
	margin-right: 20px;
}
footer p {
	margin-top: 20px;
}
h1 {
	font-size: 2.4rem;
	margin-bottom: 1px;
}
h2 {
	font-size: 1.9rem;
	margin-top: 30px;
	margin-bottom: 20px;
}
h3 {
	margin-top: 40px;
	font-weight: bold;
	font-size: 1.4rem;
}
label {
	z-index: 1;
	display: block;
	cursor: pointer;
}
li {
	font-size: 1.2rem;
 	list-style: none;
}
p {
	font-size: 1.4rem;
}
ul {
	padding-left: 0px;
}

.menu {
	list-style: none;
	padding-top: 20px;
}
.menu a {
	text-decoration: none;
	color: #fff;
	font-size: 1.1em;
}
.menu a:hover {
	color: #666666;
}
.menu li {
	margin: 0px;
	padding-top: 20px;
	padding-left: 20px;
}
.menu ul li {
	margin: 0px;
	padding-left: 30px;
}
.menu li h3 {
	margin-top: 45px;
	margin-bottom: 5px;
}
.menu-overlay {
	background: #363636;
	color: #fff;
	height: 100%;
	opacity: 0;
	right: 0;
	top: 0;
 	position: absolute;
	transition: opacity .3s;
	width: 100%;
	z-index: -1;
}
nav.navbar.shrink {
 	padding-top: 0px;		
 	padding-bottom: 0px;
 	opacity: 0.94;
}
nav.navbar{
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
.navbar {
 	padding-top: 20px;		
 	padding-bottom: 20px;
	background-color: #fff;
	border: none; 
}
.navbar-header {
	float: left;
}
.navbar-right {
	float: right;
}
.social {
}
.social-icons {
    margin-top: 30px;
}
.social-image {
	width: 32px;
}

#container {
	display: flex;
	min-height: 100%;
}

#content {
	width:100%;
	transition: transform .3s;
}

#menu-close img {
	margin-top: 15px;
	margin-right: 15px;
	width: 15px;
}
#menu-open img {
	margin-top: 7px;
	margin-right: 20px;
	width: 20px;
}


@media only screen and (min-width: 375px) { }
@media only screen and (min-width: 768px) {
	body {
		font-size: 1.6em;
	}
	h1 {
		font-size: 2.6rem;
	}
	h2 {
		font-size: 2.1rem;
	}
	h3 {
		font-size: 1.6rem;
	}
	li {
		font-size: 1.4rem;
	}
	p {
		font-size: 1.6rem;
	}
}
@media only screen and (min-width: 1024px) {
	body {
		font-size: 1..8rem;
	}
	h1 {
		font-size: 3.1rem;
	}
	h2 {
		font-size: 2.6rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	li {
		font-size: 1.6rem;
	}
	p {
		font-size: 1.8rem;
	}
}





