.tout-hero {
	background: url('../images/graph/detail/tout_mobile@2x.jpg') no-repeat;
}
@media only screen and (min-width: 750px) {
	.tout-hero {
		background: url('../images/graph/detail/tout_tablet@2x.jpg') no-repeat;
	}
}
@media only screen and (min-width: 966px) {
	.tout-hero {
		background: url('../images/graph/detail/tout_desktop@2x.jpg') no-repeat;
	}
}