.tout-hero {
	background: url('../images/matchpop/detail/tout_mobile@2x.jpg') no-repeat;
	background-size: 100%;
	min-height: 213px;
	position: relative;
}
@media only screen and (min-width: 750px) {
	.tout-hero {
		background: url('../images/matchpop/detail/tout_tablet@2x.jpg') no-repeat;
		background-size: 100%;
		min-height: 375px;
	}
}
@media only screen and (min-width: 966px) {
	.tout-hero {
		background: url('../images/matchpop/detail/tout_desktop@2x.jpg') no-repeat;
		background-size: 100%;
		min-height: 322px;
	}
}