<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="initial-scale = 1.0, minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" />
        <title>Project</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="/js/project.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href="css/global.css" rel="stylesheet" type="text/css">
        <link href="css/project.css" rel="stylesheet" type="text/css">
        <link href="flickity-docs/flickity.css" rel="stylesheet" media="screen">
    </head>

    <body ng-cloak class="ng-cloak" ng-app="MyApp">
        <div id="container"  ng-controller="MyController">
            <div id="content"> 

                <!-- nav -->
                <nav class="navbar  navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="mailto:hello@jordandoczy.com"><p>hello@jordandoczy.com</p></a>
                        </div>
                        <div class="nav navbar-nav navbar-right">
                                <img src="images/_common/menu.png" id="menu-open" class="menu-icon">
                        </div>
                    </div>
                </nav>
    
                <!-- tout -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="tout-hero" ng-attr-style="color:{{data.toutColor}}">
                           <img class="img-responsive" alt='tout' data-src-base='/images/{{folder}}/detail/' data-src='
                                                          <600:tout_mobile.jpg,
                                                          <1024:tout_tablet.jpg,
                                                          <1800:tout_desktop.jpg,
                                                          >1800:tout_desktop@2x.jpg' 

                                                data-src2x='
                                                          <600:tout_mobile@2x.jpg,
                                                          <1024:tout_tablet@2x.jpg,
                                                          >1023:tout_desktop@2x.jpg'
                            />
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 tout-copy">
                                        <h1>{{data.name}}</h1>
                                        <p>{{data.tagLine}}</p>
                                        <a ng-show="data.appStoreLink != nil" href="{{data.appStoreLink}}" role="button"><img class="button-app-store" src="images/_common/appstore.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- body -->
                <div class="container project">
                    <div class="row summary">
                        <div class="col-xs-12 col-sm-10 col-lg-8">
                            <h2>Project Summary</h2>
                            {{data.summary}}
                        </div>
                    </div>
                    <div class="row details">
                        <div class="col-md-10" ng-show="data.technicalDetails.length > 0">
                            <h3>Technical Details</h3>
                            <ul>
                                <li ng-repeat="detail in data.technicalDetails">{{detail}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row demo">
                        <div class="appDemo col-sm-2 col-sm-offset-10  col-xs-12">APP DEMO</div>
                            <div class="phone">
                                <video class="video" id="video" ng-attr-poster="{{data.poster}}" ng-attr-src="{{data.video}}">
                                    <p>Your browser does not support the video tag.</p>
                                </video>
                                <div id="play-button" class="play-button" ng-click="playVideo()"></div>
                        </div>
                    </div>
                    <div class="features" ng-show="data.features.length > 0">
                        <div class="row">
                            <div class="col-xs-12"><h2>Features</h2></div>
                        </div>
                        <div id="flickity" class="row gallery js-flickity visible-xs" data-flickity-options='{ "watchCSS": true }'>
                             <div  class="gallery-cell col-xs-12" ng-repeat="feature in data.features" >
                                <img class="feature-image" ng-attr-src="{{feature.image}}"  />
                                <h3>{{feature.title}}</h3>
                                <p>{{feature.copy}}</p>
                            </div>
                        </div>
                        <div class="row gallery hidden-xs">
                             <div  class="gallery-cell col-xs-4" ng-repeat="feature in data.features" >
                                <img class="feature-image" ng-attr-src="{{feature.image}}"  />
                                <h3>{{feature.title}}</h3>
                                <p>{{feature.copy}}</p>
                            </div>
                        </div>
                    </div>
                    <a ng-attr-href="{{data.nextProjectLink.href}}">
                        <div id="nextProject-button" class="row">
                          <div class="col-md-12"><p>{{data.nextProjectLink.text}}<span><img src="images/_common/arrow-white-large.png"></span></p></div>
                        </div>
                    </a>
                </div> 
            
                <!-- footer -->
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6"><p>Get in touch:</p></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="social-icons">
                                    <li><a href="mailto:hello@jordandoczy.com"><img class="social-image" src="images/_common/email.png"></a></li>
                                    <li><a href="www.linkedin.com/in/jordandoczy"><img  class="social-image" src="images/_common/linkedin.png"></a></li>
                                    <li><a href="https://github.com/jordandoczy"><img  class="social-image" src="images/_common/github.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div> <!-- end content -->
            
            <!-- menu -->
                <nav id="menu" class="menu-overlay">
                    <div class="menu container">
                        <img src="/images/_common/close.png" class="menu-icon navbar-right" id="menu-close" />
                        <li><a href="index.html">Home</a></li>
                        <li><a href="mailto:hello@jordandoczy.com">Contact</a></li>
                        <li><a href="#">Resume</a></li>
                        <li><h3>Projects</h3></li>
                        <ul>
                            <li><a href="project.html#acronym">Acronym</a></li>
                            <li><a href="project.html#graph">Graph</a></li>
                            <li><a href="project.html#instanote">Instanote</a></li>
                            <li><a href="project.html#matchpop">Match Pop!</a></li>
                        </ul>
                    </div>
                </nav>
        </div> <!-- end container -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>    
        <script type="text/javascript" src="js/responsive-img.min.js"></script>
        <script type="text/javascript" src="js/global.js"></script>
        <script src="flickity-docs/flickity.pkgd.js"></script>
    </body>
</html>
